.touched:invalid {
    border-color: red;
    color: red;
}

.err-msg, .failure {
    color: red;
    display: none;
}

.container {
    margin-top: 100px;
}

.navbar-custom {

    background-color: black !important;
}

.navbar-custom>a {
    color: white !important;
}

a.nav-link {
    color: white !important;
}

.coffee{
    height: 50px;
    width: 50px;
    background: url("imgs/coffee.jpeg");
    background-size: 50px 50px;
    display: inline-block;

}

.coffee-holder {
    background-color: white;
    position: sticky;
    left: 80%;
    bottom: 20px;
    width: 150px;


}
